<div class="container body">
  <div class="row">
    <div class="twelve columns">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
  </div>
  <div class="row">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= f.error_notification %>
    <div class="four columns">
    </div>
    <div class="four columns">
          <%= f.input :email, :required => true, :autofocus => true %>
          <%= f.input :address, :required => true %>
          <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
          <%= f.button :submit, "Update", :class => "button" %> &nbsp;<%= link_to "Back", :back, :class => "alert button" %>
    </div>
    <div class="four columns">
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>
    </div>
    <% end %>
  </div>
</div>
