<div class="container body">
  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="two columns"></div>
  </div>
  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <h1><%= @topic.title %></h1>
      <div class="panel">
        <p>
          <b>Description:</b>
          <%= raw @topic.description %>
        </p>
        <p>
          <b>Abstract:</b>
          <%= raw @topic.abstract %>
        </p>
      </div>
    </div>
    <div class="two columns"></div>
  </div>
  <div class="row">
  </div>
</div>
<p>
  <b>Status:</b>
  <%= @topic.status %>
</p>

<%= link_to 'Back', topics_path %>
