<div class="container header">
  <div class="row">
    <div class="twelve columns">
      <nav class="top-bar">
        <ul>
          <!-- Title Area -->
          <li class="name">
            <h1>
              <%= link_to "SIMTA", root_path %>
            </h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <section>
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a class="active" href="#">Item 1</a>
              <ul class="dropdown">
                <li><label>Section Name</label></li>
                <li class="has-dropdown">
                  <a href="#" class="">Level 1, Has Dropdown</a>
                  <ul class="dropdown">
                    <li><a href="#">Level 2</a></li>
                    <li><a href="#">Level 2</a></li>
                    <li class="has-dropdown"><a href="#">Level 2, Has Dropdown</a>
                      <ul class="dropdown">
                        <li><label>Section</label></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Level 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Level 2</a></li>
                    <li><a href="#">Level 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Level 1</a></li>
                <li><a href="#">Level 1</a></li>
                <li class="divider"></li>
                <li><label>Section Name</label></li>
                <li><a href="#">Level 1</a></li>
                <li><a href="#">Level 1</a></li>
                <li><a href="#">Level 1</a></li>
                <li class="divider"></li>
                <li><a href="#">See all &rarr;</a></li>
              </ul>
            </li>
            <li class="divider hide-for-small"></li>
          </ul>

          <!-- Right Nav Section -->
          <% if current_user %>
            <ul class="right">
              <li class="divider show-for-medium-and-up"></li>
              <li class="has-dropdown">
                <a href="#"><%= current_user.username %></a>
                <ul class="dropdown">
                  <li><label>User section</label></li>
                  <li><%= link_to "Messages", messages_path %></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </section>
      </nav>
    </div>
  </div>
</div>